body
{
height: 120vh;
margin-top: 80px;
padding: 30px;
background-size: cover;
font-family: sans-serif;
}
/*cod eof*/
header {
background-color: #313336;
position: fixed;
left: 0;
right: 0;
top: 5px;
height: 90px;
display: flex;
align-items: center;
}
/*bha*/
header * {
display: inline;
}
header li {
margin: 20px;
text-align: right;

}

.header {
    width: 100%;
    height: 90px;
    display: block;
    background-color: rgb(49,51,54);
}

.inner_header {
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(49,51,54);
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container a {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;
}
.navigation {
    float: right;
    height: 100%;

}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 30px;
    text-decoration: none;
}
.navigation a:hover{
    text-decoration: underline;
    color: #c8c9c7;
    
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-weight: bold;
    color: #c8c9c7;
    font-size: 20px;
}
.nav {
  text-align: right;
}
header li a {
    color: white;
    text-align: right;
    text-decoration: none;
}
/*y*/

.column01 {
background-color: rgb(208,215,223);
color: rgb(208,215,223);
width: 100%;
height:10%
}

.column1 {
background-color: rgb(154,156,206);
color: white;
float: left;
width: 33%;
}
.column15 {
background-color: rgb(208, 215, 223);
color: rgb(208, 215, 223);
float: left;
width: 0.3%;
}
.column2 {
background-color: rgb(154,156,206);
color: white;
float: left;
width: 33%;
}
.column25 {
background-color: rgb(208, 215, 223);
color: white ;
float: left;
width: 0.3%;
}
.column3 {
background-color: rgb(154,156,206) ;
color: white;
float: left;
width: 33%;
}
.column35 {
background-color: rgb(208, 215, 223);
color: rgb(208, 215, 223);
float: left;
width: 1%;
}
.column375 {
background-color: rgb(208, 215, 223);
color: rgb(208, 215, 223);
width: 100%;
height: 20%;
}
.column4 {
background-color: rgb(154,156,206) ;
color: white;
float: left;
width: 33%;
}
button,
.btn {
top: 50%;
left: 50%;
color: slateblue;
font-family:verdana;
font-size: 10px;
font-weight: bold;
text-align: center;
}
.row:after {
content: "";
display: table;
clear: both;
}

body {background-color: rgb(208, 215, 223);}
