body {
    background-color: lightblue;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    font-family: 'Times New Roman', Times, serif;
    position: relative; left: 900px;top: -100px;
    background: green;
}